html, body {
    background-color: #444;
    color: #EEE;
    margin: 0;
    padding: 0;
}


/******************************************************************************
  *                             ENTRY PAGE STYLES                             *
  *****************************************************************************/

.intro {
    width: 40%;
    display: block;
    margin: auto;
    margin-top: 5%;
}

.intro img {
    border-radius: 100%;
    margin: auto;
    display: block;
    width: 60%;
    margin-bottom: 10%;
}

.intro p {
    /*padding-left: 35%;*/
    text-align: center;
}

.button {
    margin: 10px 35% 0 35%;
    width: 30%;
    border: none;
    padding: 15px 25px 15px 25px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    transition: opacity 0.5s ease;
    color: #EEE;
    background-color: green;
    opacity: 0.3;
}

.button:hover {
    transition-duration: 0.5s;
    opacity: 1;
}


/******************************************************************************
  *                              WEBPAGE STYLES                               *
  *****************************************************************************/

/* HEADER */

header{
    background-color: #222;
    width: 100%;
    padding: 2%;
}

.navbar {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding-right: 2%;
}

li a {
    display: inline-block;
    float: right;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.logo {
    float: left;
    font-size: 28px;
}

/* CONTENT */
.contentlayer{
  margin: 0 5% 0 5%;
  width: 90%;
  padding: 2%;
}

h2{
  padding: 20px;
}

.contentArea{
  width: 60%;
  display: inline-block;
}

.photoArea{
  float: right;
  width: 40%;
  display: inline-block;
}

img{
  width: 70%;
  padding: 15%;
  padding-top: 0;
}


/* FOOTER */
footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #111;
  padding: 2%;
  text-align: center;
}
