html, body {
    background-color: #444;
    color: #EEE;
    margin: 0;
    padding: 0;
    font-family: 'Vollkorn', Georgia, Times, serif;

}


/******************************************************************************
  *                             ENTRY PAGE STYLES                             *
  *****************************************************************************/

.intro {
    width: 40%;
    display: block;
    margin: auto;
    margin-top: 5%;
}

.intro img {
    border-radius: 100%;
    margin: auto;
    display: block;
    width: 60%;
    margin-bottom: 10%;
    padding: 0!important;
}

.intro table{
    margin: 0 auto;
}


.intro table tr th {
    text-align: center;
    padding: 10px;
    font-weight: normal;
}

.button {
/*    margin: 10px 35% 0 35%; */
    padding: 15px 25px 15px 25px;
    width: 100%;
    border: none;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    transition: opacity 0.5s ease;
    color: #EEE;
    background-color: green;
    opacity: 0.3;
}

.button:hover {
    opacity: 1;
}


/******************************************************************************
  *                              WEBPAGE STYLES                               *
  *****************************************************************************/


/* HEADER */

header {
    background-color: #222;
    /*width: 100%;*/
    padding: 2%;
}

.navbar {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding-right: 2%;
}

li a {
    display: inline;
    float: right;
    color: #eee;
    text-align: center;
    padding-right: 50px;
    padding-top: 20px;
    text-decoration: none;
    font-size: 17px;
}

.logo {
    font-family: 'Dancing Script', Georgia, Times, serif;
    font-size: 40px ;
    float: left;
    padding: 0;
}

.active{
    text-decoration: underline;
    letter-spacing: 3px;
}


/* CONTENT */

.contentlayer {
    margin: 0 10% 0 10%;
    padding: 2%;
}

h1 {
    padding: 20px;
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
}

.contentArea {
    width: 60%;
    display: inline-block;
    line-height: 200%;
    letter-spacing: 1.5px;
}

.contentArea p{
    text-align: center;
}

.contentArea a{
    color: #eee;
    text-decoration: underline;
}

.photoArea {
    float: right;
    width: 40%;
    display: inline;
}

.photoArea img {
    width: 80%;
    padding: 15%;
    padding-top: 0;
}

/* CONTACT SECTION */
.contentlayer table{
    width: 80%;
    margin-left: 5%;
}

.contentlayer table tbody tr td{
    width: 100px;
    border: 1px solid green;
}

.imgSocial, .imgMap{
    width:100%;
}


/* DOWNLOAD SECTION */
.imgIcon{
    width: 100px;
    padding: 0;
    margin-left: 100px;
}

/* FOOTER */

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #111;
    padding: 2%;
    text-align: center;
}
